export aws_region_id="us-west-2"
#Any variable 'x' exported with 'TF_VAR_' (as in TF_VAR_x) prefixed to it, is interpreted by terraform as a terraform variable 'x'
export tst_s3_bucket_name="tst-bucket-for-kinesis"
export TF_VAR_tst_s3_bucket_name=tst-bucket-for-kinesis
#export TF_VAR_tst_s3_bucket_name="${tst_s3_bucket_name}"
export tst_kinesis_firehose_stream_name="terraform-kinesis-firehose-tst-stream"
export TF_VAR_tst_kinesis_firehose_stream_name="${tst_kinesis_firehose_stream_name}"